// https://docs.microsoft.com/en-us/windows/win32/menurc/about-resource-files
// https://docs.microsoft.com/en-us/windows/win32/menurc/resource-definition-statements
// https://docs.microsoft.com/en-us/windows/win32/menurc/rcdata-resource

// text:
// select_query RCDATA "../sql/select_query.sql"

// icon:
// myicon ICON "icon.ico"

// sound:
// coin0   WAVE "../sounds/coin0.wav"

// ------------------------------------------------------------------------------------------

soy     RCDATA "../sprites/soy.txt"
title   RCDATA "../sprites/title.txt"

// select_query            RCDATA "../sql/select_query.sql"
// select_query_interval   RCDATA "../sql/select_query_interval.sql"
// insert_query            RCDATA "../sql/insert_query_c.sql"